:root {
    --background: black;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 80rem;
    justify-content: center;
}

.card {
    position: relative;
    width: 15rem;
    border-radius: 1.2rem;
    height: 15rem;
    overflow: hidden;
    background: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 1 1 calc(25% - 2rem);
}

.card img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover {
    flex-grow: 2;
    cursor: pointer;
    border-radius: 1rem;
}

/* Optional: Adjust image positioning for specific cards */
.card:nth-child(1) img {
    left: 0;
}

.card:nth-child(2) img {
    left: 0;
}

.card:nth-child(3) img {
    left: 0;
}

.card:nth-child(4) img {
    left: 0;
}

.card.active img {
    transform: scale(1.2); /* 
    transition: transform 0.3s ease-in-out;
}



